<ng-container *ngIf="show">
    <div class="absolute z-100 w-80 rounded-md shadow-2xl bg-white" [style]="styleSearchList">
        <div class="flex justify-center relative h-80 py-2" [ngClass]="{'items-end': day?.reminders?.length > 0, 'items-center': !(day?.reminders?.length > 0)}">
            <div class="absolute z-50 top-3 right-3">
                <div class="relative flex justify-between items-center p-1 lg:p-2 rounded-md shadow-button cursor-pointer transition duration-200 ease-in-out bg-paletteBlue hover:bg-blue-500"
                    (click)="onOpenReminderForm(day)">
                    <span class="text-xs lg:text-base text-gray-100 px-1">Add Reminder</span>
                    <span class="lg:text-xl px-1 lg:px-2"><fa-icon class="text-white" [icon]="faTag" size="xs"></fa-icon></span>
                    <span class="absolute top-1- right-1 text-xs lg:text-base lg:top-0 lg:right-2"><fa-icon style="color: #35ff35" [icon]="faPlus" size="xs"></fa-icon></span>
                </div>
            </div>
            <ng-container *ngIf="day?.reminders?.length > 0; else renderNoReminders">
                <div class="scroll-fade-white w-full">
                    <div class="flex flex-col gap-1 w-full px-1 py-3 h-64 overflow-y-scroll">
                        <ng-container *ngFor="let reminder of day.reminders">
                            <ui-reminder-button
                                [reminder]="reminder"
                                (onClick)="onOpenReminderForm(day, reminder)"
                            ></ui-reminder-button>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-template #renderNoReminders>
                <span class="text-sm lg:text-base text-gray-400">No reminders found.</span>
            </ng-template>
        </div>
    </div>
</ng-container>