<nav class="flex justify-between m-4">
  <section class="flex flex-col gap-1">
    <img class="lg:w-64" src="/assets/logo.svg" alt="">
    <div class="relative">
      <div class="absolute flex gap-1 lg:gap-3 right-10- lg:right-20-">
        <img class="w-12 lg:w-24" src="/assets/angular.svg" alt="">
        <span class="text-xs lg:text-xl font-bold font-poppins">Challenge</span>
      </div>
    </div>
  </section>
  <section class="lg:hidden">
    <ui-reminder-add-button (click)="onOpenReminderForm()"></ui-reminder-add-button>
  </section>
</nav>