<div class="relative border border-gray-500 h-32" (click)="onOpenReminderForm()">
    <div class="absolute top-1 left-1" [ngClass]="{'rounded-full bg-indigo-700 px-1': currentDay}">
        <small class="text-xs font-semibold" [ngClass]="{'text-gray-100': currentDay}">{{ dayNumber }}</small>
    </div>
    <ng-container *ngIf="weather">
        <div class="absolute top-0 right-0">
            <img class="w-10 h-10" [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">
        </div>
    </ng-container>
</div>