<div class="relative flex justify-center items-center rounded-full shadow-button cursor-pointer transition duration-200 ease-in-out bg-paletteBlue hover:bg-blue-500"
        [ngClass]="{'w-20 h-20': size === 'lg', 'w-12 h-12': size !== 'lg'}"
    >
    <span
        [ngClass]="{'text-4xl': size === 'lg', 'text-2xl': size !== 'lg'}"
    ><fa-icon class="text-white" [icon]="faTag" size="sm"></fa-icon></span>
    <span class="absolute"
        [ngClass]="{'text-2xl top-1 right-4': size === 'lg', 'text-lg top-0 right-2': size !== 'lg'}"
    ><fa-icon style="color: #35ff35" [icon]="faPlus" size="xs"></fa-icon></span>
</div>