<section class="flex flex-col lg:flex-row w-full h-full">
    <aside class="flex flex-col justify-center items-center w-full lg:w-4/12 gap-4 bg-paletteBlue-light lg:pr-16 rounded-right-border-desktop border-b-2 border-paletteBlue-dark lg:border-b-0 lg:border-none z-50">
        <app-header class="w-full lg:absolute lg:top-6 lg:left-6"></app-header>
        <div class="flex lg:flex-col justify-between items-center gap-10 lg:gap-32">
            <ui-year-picker
                [years]="years"
                [selectedYear]="selectedYear"
                (onChange)="onYearChanged($event)"
            ></ui-year-picker>
            <ui-month-picker
                [months]="months"
                [selectedMonth]="selectedMonthIndex"
                (onChange)="onMonthChanged($event)"
            ></ui-month-picker>
        </div>
    </aside>
    <section class="flex flex-col justify-center items-start w-full lg:w-8/12 z-10 bg-white">
        <h1 class="text-lg lg:text-3xl font-poppins font-semibold w-full text-left ml-4 mt-8 lg:ml-16 lg:mt-0 lg:mb-12">{{ isSelectedDateCurrentMonth() ? (currentDate | date: 'MMM d, y') : (selectedDate | date: 'MMM, y') }}</h1>
        <ng-container *ngIf="(daysObs$ | async) as days">
            <ui-calendar
                [days]="days"
                (onSelectedDay)="onSelectedDay($event)"
            ></ui-calendar>
        </ng-container>
    </section>
    <section class="hidden lg:block">
        <ui-reminder-add-button
            size="lg"
            class="absolute top-8 right-8 z-50"
            (click)="onOpenReminderForm()"
        ></ui-reminder-add-button>
    </section>
</section>