<section class="flex flex-col lg:flex-row w-full h-full">
    <aside class="flex flex-row lg:flex-col justify-center items-center w-full lg:w-4/12 bg-paletteBlue-light lg:pr-16 rounded-right-border-desktop">
        <ui-year-picker
            [years]="[2020,2021,2022]"
            (onChange)="onYearChanged($event)"
        ></ui-year-picker>
        <ui-month-picker
            [months]="['Jan', 'Feb', 'Mar', 'Apr', 'Jun', 'Jul', 'Ago']"
            (onChange)="onMonthChanged($event)"
        ></ui-month-picker>
    </aside>
    <section class="flex justify-start items-center w-full lg:w-8/12 z-10 bg-white">
        <ui-table class="max-w-screen-xl"></ui-table>
    </section>
</section>