<ng-container *ngIf="days">
    <section class="max-w-screen-xl my-8">
        <!-- <h1 class="text-4xl font-semibold w-full text-center">{{ currentDate | date: 'MMMM, y' }}</h1> -->

        <table class="w-full">
            <thead>
                <tr class="font-semibold text-sm lg:text-xl text-indigo-600">
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Sun</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Mon</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Tue</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Wed</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Thu</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Fri</th>
                    <th class="w-1/7 overflow-hidden uppercase select-none lg:pb-20">Sat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of daysMatrix">
                    <td *ngFor="let day of week" class="w-1/7">
                        <ui-calendar-day
                            [day]="day"
                        ></ui-calendar-day>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</ng-container>