<div class="flex flex-col justify-center items-center relative h-24 overflow-hidden">
    <ng-container *ngIf="day.activeCell; else renderDisabledDay">
        <div class="cursor-pointer rounded-full" 
            [ngClass]="{'bg-paletteBlue': day.isCurrentDay, 'bg-white-to-gray': !day.isCurrentDay}"
            (click)="onOpenReminderList($event)">
            <small class="lg:text-2xl font-stem font-medium select-none p-4" [ngClass]="{'text-gray-100': day.isCurrentDay,'text-gray-700': !day.isCurrentDay}">{{ day.number }}</small>
        </div>
    </ng-container>
    <ng-template #renderDisabledDay>
        <div class="cursor-default rounded-full">
            <small class="lg:text-2xl font-stem font-medium select-none p-4 text-gray-500">{{ day.number }}</small>
        </div>
    </ng-template>
    <!-- <ng-container *ngIf="weather">
        <div class="absolute top-0 right-0">
            <img class="w-10 h-10" [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">
        </div>
    </ng-container> -->
</div>